{% extends 'base.html.twig' %}

{% block content %}

    <div class="content-wrapper">
        {% for product in products %}
            <div class="product">
                <div class="image"><img src="{{ product.image }}"></div>
                <div class="texts">
                    <div class="title">{{ product.title }}</div>
                    <div class="description">{{ product.description }}</div>
                </div>
                <div class="numbers">
                    <div class="price">Price: {{ product.price }}</div>
                    <div class="amount">Amount: {{ product.amount }}</div>
                </div>
                <div class="buttons">
                    <div class="button button-more"><a href="">Details</a></div>
                    <div class="button button-add-to-cart"><a href="">Add to cart</a>2qq</div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
